header.header
  +container('header__container')
    .header__logo.logo
      span.logo__text Co
        span.logo__accent De
    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href='#') Чему вы научитесь
        li.nav__item
          a.nav__link(href='#') Процесс обучения
        li.nav__item
          a.nav__link(href='#') Стоимость
        li.nav__item
          a.nav__link(href='#') Контакты
    .header__contacts
      a.header__phone(href='tel:+74993489396') +7 (499) 348-93-96
      a.header__btn.button.button--primary(href='#') Регистрация
