extends ./src/pug/layouts/main.pug

block head
  title О школе — CoDe

block content
  section.about
    +container('about__container')
      h1.about__title О школе
      p.about__text Здесь будет информация о школе программирования CoDe.
