extends ./src/pug/layouts/main.pug

block head
  title Контакты — CoDe

block content
  section.contact
    +container('contact__container')
      h1.contact__title Контакты
      p.contact__text Напишите нам на info@code.ru или позвоните по телефону +7 (999) 999-99-99.
