extends ./src/pug/layouts/main.pug

block head
  title Школа программирования CoDe
  link(rel='preload', href='/src/assets/fonts/Gilroy.woff2', as='font', type='font/woff2', crossorigin)
  link(rel='preload', href='/src/assets/fonts/Gilroy.woff', as='font', type='font/woff', crossorigin)
  //- Основные стили подключаются через Vite entry (src/scripts/main.js)

block content
  include ./src/pug/pages/home.pug
