mixin section(name, modifiers = '', attrs = {})
  section(class=[name, modifiers].filter(Boolean).join(' '))(&attributes(attrs))
    block

mixin container(modifier = '')
  .container(class=modifier)
    block
