mixin section(name, modifiers = '', attrs = {})
  - const classes = [name, modifiers].filter(Boolean).join(' ')
  section(class=classes)&attributes(attrs)
    block

mixin container(modifier = '')
  - const classes = ['container', modifier].filter(Boolean).join(' ')
  div(class=classes)
    block
